source_up_if_exists

export JUST_CHOOSER=$(echo $(echo '
  fzf
    --border=top
    --border-label=" Parameterless Just recipes "
    --header="CTRL-c or ESC to quit"
    --height=45%
    --margin="5%,0%,5%,0%"
    --preview-window=right:85%:wrap:nocycle
    --preview="just --show {} | bat --language=Makefile --color=always --style=plain"
    --bind=ctrl-u:preview-page-up,ctrl-d:preview-page-down
  || true
'))

if test -x "$(command -v nix)"; then
  use flake
fi
